<!DOCTYPE html/>
<html>
<head>
    <% styles.forEach(function (style) { %>
        <link rel="stylesheet" href="<%= style %>" />
    <% }) %>
    <% scripts.forEach(function (script) { %>
        <script type="text/javascript" href="<%= script %>"></script>
    <% }) %>
</head>
<body class="black">
<div class="cf-container cf-nav-active">
    <h1><%= message%></h1>
    <h2><%= error.status%></h2>
    <pre><%= error.stack%></pre>
</div>
</body>
</html>