<!DOCTYPE html/>
<html>
<head>
    <title><%= title %></title>
    <% styles.forEach(function (style) { %>
        <link rel="stylesheet" href="<%= style %>" />
    <% }) %>
    <script type="text/javascript">
        var themeColour = 'black';
    </script>
    <% scripts.forEach(function (script) { %>
        <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>
</head>
<body class="black flyboard-app">
<div class="cf-nav cf-nav-state-min">
    <a href="" class="cf-nav-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>

    <ul>
        <% dashboards.forEach(function (item, index) { %>
        <li class="<%= item.id === dashboard.id ? 'current ' : null%>cf-nav-shortcut">
            <a href="/dashboards/<%=item.id%>" class="<%= item.id === dashboard.id ? 'current active' : null%>">
                <span class="cf-nav-min"><%= index + 1 %></span>
                <span class="cf-nav-max"><%= item.name %></span>
            </a>
        </li>
        <% }) %>
    </ul>
</div>

<% if (dashboard) { %>
    <div class="cf-container cf-nav-active">
        <% include dashboard/layout %>
    </div>
<% } %>
</body>
</html>
