<!DOCTYPE html/>
<html ng-app="adminApp">
<head>
    <title>login</title>
    <% styles.forEach(function (style) { %>
    <link rel="stylesheet" href="<%= style %>"/>
    <% }) %>
    <script type="text/javascript">
        var themeColour = 'black';
    </script>
    <% scripts.forEach(function (script) { %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>
</head>
<body>
    <div ng-controller="NavCtrl">
        <nav class="navbar-default navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" ng-href="{{NavUrl('index')}}">FlyBoard</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a ng-href="{{NavUrl('stat')}}">数据</a></li>
                        <li class="active"><a ng-href="{{NavUrl('admin')}}">数据源管理</a></li>
                    </ul>

                    <div class="btn-group select-project" ng-if="project">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          {{project.name}}
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li ng-repeat="project in projects"><a href="" ng-click="selectProject(project)">{{project.name}}</a></li>
                        </ul>
                     </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="login-intro">
        <% var msg = flash('error') %>
        <% if (msg && msg.length) { %>
            <div class="alert alert-danger"><%=msg%></div>
        <% } %>
        <% authItems.forEach(function (authItem) { %>
            <% if (authItem.key === 'ldapauth') { %>
                <form action="<%=authItem.authUrl%>" role="form" method="POST">
                    <div class="form-group">
                        <label for="username">LDAP 用户名</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="请输入 LDAP 用户名" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="password">LDAP 用户名</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="请输入 LDAP 密码" required>
                    </div>
                    <button class="btn btn-primary" type="submit">登录</button>
                </form>
            <% } else { %>
                <ol class="breadcrumb text-center">
                    <li><a href="/auth/<%= authItem.key %>"><i class="fa fa-<%=authItem.key%>"></i> 使用 <%= authItem.keyName %> 账号登陆</a></li>
                </ol>
            <% } %>
        <% }) %>
    </div>
</body>
</html>
